* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

.btn {
  font-size: .85rem;
  margin-bottom: 0;
  width: 100%;
  max-width: 12rem;
  opacity: 0.8;
  cursor: pointer;
  line-height: 2.8;
  padding: .15rem;
  outline: none;
  border: 0;
  border-radius: 5px;
  color: #ffffff;
  box-shadow: 0 2px 4px rgba(0,0,0,.1),0 4px 8px rgba(0,0,0,.3);
}

.btn:hover {
  opacity: 1;
}

.btn-primary {
  background-color: #06386B;
}

.btn-secondary {
  background-color: #379683;
}

.fa-thumbs-up {
  font-size: 1.25rem;
}
