* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.btn {
  font-size: .85rem;
  margin-bottom: 0;
  width: 100%;
  max-width: 12rem;
  opacity: 0.8;
  cursor: pointer;
  line-height: 2.8;
  padding: .15rem;
  outline: none;
  border: 0;
  border-radius: 5px;
  color: #ffffff;
}

.btn-fileupload {
  line-height: inherit;
  width: 40rem;
  padding: .5rem;
  margin-top: .15rem;
  opacity: 1;
}

.back-btn {
  padding: 1rem;
}

.btn:hover {
  opacity: 1;
}

.btn-primary {
  background-color: #06386B;
}

.btn-secondary {
  background-color: #379683;
}

.fa-thumbs-up {
  font-size: 1.25rem;
}

fieldset {
  border: none;
  max-width: 55em;
  margin-top: 1rem;
}

fieldset > ul {
  list-style-type: none;
  text-align: left;
  padding-left: 0;
}

legend {
  text-align: center;
  font-size: 1.4em;
  margin-bottom: 25px;
  font-weight: bold;
  width: 100%;
  padding-top: 30px;
  background-color: #EDF2F4;
  margin: 0;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
textarea,
select {
  border-radius: 5px;
  padding: .5rem;
  outline: none;
  font-size: 1rem;
  width: 100%;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 1rem;
}

input:focus,
textarea:focus,
select:focus {
  border: 2px solid #379683;
  outline: 0;
  background: white;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 0 8px 16px 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}