.user-grid-cards {
  display: grid;
  grid-template-columns: 1fr;
  max-width: 45rem;
  margin: 0 auto;
}

.profile-user-container {
  display: grid;
  margin: 1rem auto;
}

.profile-user-card {
  width: 20rem;
  justify-self: center;
  text-align: center;
  display: grid;
  position: relative;
  min-width: 10rem;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 5px;
  margin-bottom: 1rem;
  padding: 1rem;
}

.profile-user-img-container {
  width: 168px;
  height: 168px;
  margin: 0 auto;
}

.profile-user-img {
  border-radius: 50%;
  position: relative;
  display: block;
  width: 168px;
  height: 168px;
  object-fit: cover;
  margin: auto;
}

.profile-user-heading {
  font-weight: 400;
}

.profile-user-stats_heading {
  font-weight: 500;
}

.profile-user-stats_para {
  opacity: .5;
}

@media only screen and (min-width: 35rem) {
  .profile-user-card {
    width: 25rem;
  }

  .user-grid-cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 40rem) {
  .profile-user-card {
    width: 32rem;
  }

  .user-grid-cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (min-width: 50rem) {
  .profile-user-card {
    width: 42rem;
  }
}

@media only screen and (min-width: 70rem) {
  .profile-user-card {
    width: 55rem;
  }
}
