.FormCenter {
    margin-bottom: 100px;
    width: 50%;
  }
  
  
  .FormField {
    margin-bottom: 40px;
  }
  
  .FormField__Label {
    display: block;
    text-transform: uppercase;
    font-size: .9em;
    color: white;
  }
  .FormField__Input {
    width: 85%;
    background-color: transparent;
    border: none;
    color: black;
    outline: none;
    border-bottom: 1px solid #445366;
    font-size: 1em;
    font-weight: 300;
    padding-bottom: 10px;
    margin-top: 10px;
    width: 100%;
  }
  
  .FormField__Input::placeholder {
    color: #616E7F;
  }
  
  .FormField__Button {
    background-color: #379683;
    color: white;
    border: none;
    outline: none;
    border-radius: 25px;
    padding: 15px 70px;
    font-size: .8em;
    font-weight: 500;

  }
  
  .FormField__Link {
    color: #66707D;
    text-decoration: none;
    display: inline-block;
    border-bottom: 1.5px solid  #379683;
    padding-bottom: 5px;
  }