.profile-card-container {
  margin-left: 100px;
  padding: 1rem;
}

.info-grid-cards {
  display: grid;
  grid-template-columns: 1fr;
  max-width: 45rem;
  margin: 0 auto;
}

.profile-info-container {
  display: grid;
  margin: 1rem auto;
}

.profile-info-card {
  width: 20rem;
  justify-self: center;
  text-align: center;
  display: grid;
  position: relative;
  min-width: 10rem;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  box-shadow: 0 1px 6px 0 rgba(0,0,0,.2);
  border-radius: 5px;
  margin-bottom: 1rem;
}

.profile-info-content {
  padding: 1rem;
}

.profile-info-heading {
  background-color: #EDF2F4;
  margin: 0;
}

.profile-info-basic {
  padding-bottom: 1rem;
  border-bottom: 1px solid black;;
}

.profile-info-contact {
  padding-bottom: 1rem;
  border-bottom: 1px solid black;;
}

.profile-info-list {
  list-style-type: none;
  padding: 0;
}

.profile-info-list > li {
  display: grid;
  margin-bottom: 1rem;
}

.profile-info-question_span {
  font-weight: 500;
}

@media only screen and (min-width: 35rem) {
  .profile-info-card {
    width: 25rem;
  }

}

@media only screen and (min-width: 40rem) {
  .profile-info-card {
    width: 32rem;
  }

  .profile-info-list > li {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 50rem) {
  .profile-info-card {
    width: 42rem;
  }
}

@media only screen and (min-width: 70rem) {
  .profile-info-card {
    width: 55rem;
  }
}

.user-grid-cards {
  display: grid;
  grid-template-columns: 1fr;
  max-width: 45rem;
  margin: 0 auto;
}

.profile-user-container {
  display: grid;
  margin: 1rem auto;
}

.profile-user-card {
  width: 20rem;
  justify-self: center;
  text-align: center;
  display: grid;
  position: relative;
  min-width: 10rem;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  box-shadow: 0 1px 6px 0 rgba(0,0,0,.2);
  border-radius: 5px;
  margin-bottom: 1rem;
  padding: 1rem;
}

.profile-user-img-container {
  width: 168px;
  height: 168px;
  margin: 0 auto;
}

.profile-user-img {
  border-radius: 50%;
  position: relative;
  display: block;
  width: 168px;
  height: 168px;
  object-fit: cover;
  margin: auto;
}

.profile-user-heading {
  font-weight: 400;
}

.profile-user-stats_heading {
  font-weight: 500;
}

.profile-user-stats_para {
  opacity: .5;
}

@media only screen and (min-width: 35rem) {
  .profile-user-card {
    width: 25rem;
  }

  .user-grid-cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 40rem) {
  .profile-user-card {
    width: 32rem;
  }

  .user-grid-cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (min-width: 50rem) {
  .profile-user-card {
    width: 42rem;
  }
}

@media only screen and (min-width: 70rem) {
  .profile-user-card {
    width: 55rem;
  }
}
