

.group-comment-info {
  margin-top: .25rem;
  margin-left: 1rem;
  text-align: left;
}

.group-comment-info > a {
  text-decoration: none;
  color: #008EEC;
}

.group-comment-heading {
  font-weight: 500;
  font-size: 1rem;
}

.group-comment-text {
  color: #3F414D;
  font-size: 0.85rem;
  margin: 0;
}

.group-comment-heading,
.group-comment-time {
  text-align: left;
  margin: 0;
}

.group-comment-img-container {
  margin-top: .25rem;
  width: 35px;
  height: 35px;
}

.group-comment-img {
  border-radius: 50%;
  position: relative;
  display: block;
  height: 35px;
  width: 35px;
  line-height: 35px;
  font-size: 0.5rem;
  object-fit: cover;
}

.group-comment-body {
  text-align: left;
  margin-top: 6px;
}

.group-comment-reaction {
  display: flex;
  padding: .5rem .5rem .5rem 0;
}

.group-comment-reaction > a {
  color: #008EEC;
}

.group-comment-reaction-stat {
  margin: .2rem;
}

.group-comments-post {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.group-comment-li {
  display: grid;
  grid-template-columns: 1fr auto;
  padding: 1rem;
}

.group-post-comments {
  border-top: 1px solid #777D74;
  margin-top: 1rem;
  padding: 1rem;
}