.post-grid-cards {
  display: grid;
  grid-template-columns: 1fr;
  max-width: 45rem;
  margin: 0 auto;
}

.groups-post-container {
  display: grid;
  margin: 1rem auto;
}

.groups-post-card {
  width: 20rem;
  justify-self: center;
  text-align: center;
  display: grid;
  position: relative;
  min-width: 10rem;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 5px;
  margin-bottom: 1rem;
  padding: 1rem;
}

.groups-post-img-container {
  display: flex;
  margin-right: 1rem;
}


.groups-post-top {
  display: flex;
}

.groups-post-info {
  margin-top: .25rem;
}

.groups-post-info > a {
  color: #3F414D;
  text-decoration: none;
}

.groups-post-heading {
  font-weight: 500;
  font-size: 1rem;
}

.groups-post-time {
  color: #008EEC;
  font-size: 0.85rem;
}

.groups-post-heading,
.groups-post-time {
  text-align: left;
  margin: 0;
}

.groups-post-img {
  border-radius: 50%;
  position: relative;
  display: block;
  height: 50px;
  width: 50px;
  object-fit: cover;
}

.groups-post-body {
  text-align: left;
  margin-top: 6px;
}

.groups-post-reaction {
  display: flex;
  padding: .5rem .5rem .5rem 0;
}

.groups-post-reaction > a {
  color: #008EEC;
}

.groups-post-reaction-stat {
  margin: .2rem;
}

.groups-post-comments {
  border-top: 1px solid #777D74;
  margin-top: 1rem;
}


@media only screen and (min-width: 35rem) {
  .groups-post-card {
    width: 25rem;
  }

  .post-grid-cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 40rem) {
  .groups-post-card {
    width: 32rem;
  }

  .post-grid-cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (min-width: 50rem) {
  .groups-post-card {
    width: 42rem;
  }
}

@media only screen and (min-width: 70rem) {
  .groups-post-card {
    width: 55rem;
  }
}
