.dashboard-group-container {
  display: grid;
  margin: 1rem auto;
}

.dashboard-group-card {
  width: 20rem;
  justify-self: center;
  text-align: center;
  display: grid;
  position: relative;
  min-width: 10rem;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 5px;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}

.dashboard-group-content {
  padding: 1rem;
}

.dashboard-group-heading {
  font-weight: 400;
}

@media only screen and (min-width: 35rem) {
  .dashboard-group-card {
    width: 25rem;
  }
}

@media only screen and (min-width: 45rem) {
  .dashboard-group-card {
    width: 35rem;
  }
}

@media only screen and (min-width: 55rem) {
  .dashboard-group-card {
    width: 45rem;
  }
}

@media only screen and (min-width: 65rem) {
  .dashboard-group-card {
    width: 55rem;
  }
}