.create-group-gender-label {
  display: block;
  margin-bottom: .25rem;
}

.create-group-gender-male {
  margin-right: .75rem;
}

.create-group-gender-female {
  margin-right: .75rem;
}

.create-group-btn {
  margin-top: 2rem;
}

.create-group-form-container {
  margin-top: 1rem;
  padding: 1rem;
}

.create-group-form-heading {
  background-color: #EDF2F4;
  margin: 0;
  text-align: center;
}

.create-group-form-btn {
  min-width: 10rem;
  border-radius: 5px;
  margin-bottom: 1rem;
  max-width: 45rem;
  margin: 1rem auto;
}

.create-group-form {
  justify-self: center;
  text-align: left;
  position: relative;
  min-width: 10rem;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 5px;
  margin-bottom: 1rem;
  display: grid;
  grid-template-columns: 1fr;
  max-width: 45rem;
  margin: 0 auto;
}
