.create-group-gender-label {
  display: block;
  margin-bottom: .25rem;
}

.create-group-gender-male {
  margin-right: .75rem;
}

.create-group-gender-female {
  margin-right: .75rem;
}

.create-group-btn {
  margin-top: 2rem;
}
