.side-navbar {
  background-color: #23282D;
  display: grid;
  justify-items: center;
  text-align: center;
  position: fixed;
  width: 18%;
  max-width: 100px;
  height: 100%;
}

.side-navbar_ul {
  list-style-type: none;
  margin: 0;
  padding: 2rem .25rem;
  width: 100%;
}

.side-navbar_item {
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
}

.side-navbar_link {
  padding: 1.5rem;
  text-decoration: none;
  color: #ffffff;
}

.far,
.fas,
.fal {
  font-size: 1.5rem;;
}