.events-hero-container {
  display: grid;
}

.events-hero-card {
  width: 20rem;
  justify-self: center;
  text-align: center;
  display: grid;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 5px;
}

.events-hero-img-container {
  overflow: hidden;
  display: block;
  position: relative;
  max-height: 300px;
}

.events-hero-img {
  width: 20rem;
  max-height: 300px;
}

.events-hero-content {
  position: absolute;
  width: 100%;
  bottom: 0;
  color: #fff;
  background-color: rgba(200,200,200, .4);
  padding: 1rem;
}

.events-hero-heading {
  font-weight: 400;
}

@media only screen and (min-width: 35rem) {
  .events-hero-card {
    width: 25rem;
  }

  .events-hero-img {
    width: 25rem;
  }
}

@media only screen and (min-width: 40rem) {
  .events-hero-card {
    width: 32rem;
  }

  .events-hero-img {
    width: 32rem;
  }
}

@media only screen and (min-width: 50rem) {
  .events-hero-card {
    width: 42rem;
  }

  .events-hero-img {
    width: 42rem;
  }
}

@media only screen and (min-width: 70rem) {
  .events-hero-card {
    width: 55rem;
  }

  .events-hero-img {
    width: 55rem;
  }
}