fieldset {
  border: none;
  max-width: 55em;
  margin-top: 1rem;
}

fieldset > ul {
  list-style-type: none;
  text-align: left;
  padding-left: 0;
}

legend {
  text-align: center;
  font-size: 1.4em;
  margin-bottom: 25px;
  font-weight: bold;
  width: 100%;
  padding-top: 30px;
  background-color: #EDF2F4;
  margin: 0;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
textarea,
select {
  border-radius: 5px;
  padding: .5rem;
  outline: none;
  font-size: 1rem;

  width: 100%;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  border-radius: 5px;
  margin-bottom: 1rem;
}

input:focus,
textarea:focus,
select:focus {
  border: 2px solid #379683;
  outline: 0;
  background: white;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 0 8px 16px 0;
}

.edit-profile-gender-label {
  display: block;
  margin-bottom: .25rem;
}

.edit-profile-gender-male {
  margin-right: .75rem;
}

.edit-profile-gender-female {
  margin-right: .75rem;
}
