.dashboard-navbar {
  background-color: #05386B;
}

.dashboard-navbar-inner {
  display: grid;
  text-align: center;
}

.dashboard-navbar-logo {
  margin: 1rem;
  padding: .75rem;
  align-self: center;
}

.dashboard-navbar-brand {
  text-decoration: none;
  color: #ffffff;
  align-self: center;
  font-size: 1.25rem;
}

.dashboard-navbar-search {
  align-self: center;
  justify-self: center;
}

.dashboard-navbar-list {
  align-self: center;
  margin: 1rem;
}

.dashboard-navbar-item {
  display: inline-block;
  padding: .75rem;
}

.dashboard-navbar-item:active {
  background-color: rgba(255, 255, 255, 0.1);
}

.dashboard-navbar-ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.dashboard-navbar-link {
  padding: 1rem .15rem;
  text-decoration: none;
  color: #ffffff;
}

@media only screen and (min-width: 40rem) {
  .dashboard-navbar-inner {
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: start;
  }

  .dashboard-navbar-list {
    justify-self: end;
  }
}