.create-event-form-container {
  margin-top: 1rem;
  padding: 1rem;
}

.create-event-form-heading {
  background-color: #EDF2F4;
  margin: 0;
  text-align: center;
}

.create-event-form-btn {
  min-width: 10rem;
  border-radius: 5px;
  margin-bottom: 1rem;
  max-width: 45rem;
  margin: 1rem auto;
}

.create-event-form {
  justify-self: center;
  text-align: left;
  position: relative;
  min-width: 10rem;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  box-shadow: 0 1px 6px 0 rgba(0,0,0,.2);
  border-radius: 5px;
  margin-bottom: 1rem;
  display: grid;
  grid-template-columns: 1fr;
  max-width: 45rem;
  margin: 0 auto;
}
