.search-container {
  display: flex;
  width: 100%;
}

.search-icon {
  border-radius: 5px;
  padding: .5rem;
  background: #379683;
  color: white;
  min-width: 50px;
  text-align: center;
}

/* Style the input fields */
.search-field {
  border-radius: 5px;
  padding: .5rem;
  outline: none;
  width: 10rem !important;
  margin-bottom: 0 !important;
  font-size: 1rem;
}

.search-field:focus {
  border: 2px solid #379683;
}
