.search-container {
  display: flex;
  width: 100%;
}

.search-icon {
  border-radius: 5px;
  padding: .45rem;
  background: #379683;
  color: white;
  min-width: 50px;
  text-align: center;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

/* Style the input fields */
.search-field {
  width: 10rem;
  margin-bottom: 0;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.search-field:focus {
  border: 2px solid #379683;
}

